*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding:0;
}

canvas {
	display: block;
}
.leyend {
	position: absolute;
	top: 100px; 
	left: 650px;
	z-index: 99999;
	color: white;
}
.curtain{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.8);
	z-index:999999999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	width: 600px; 
	height: 400px;
	background-color: white; 
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.modal h2 {
	color: #f65599;

}
.modal button {
	background-color:#d14982;
	color: white;
	width: 80px;
	height: 40px;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.modal button:hover{
		background-color: #f65599;
}